@import "../../utils/mixins.scss";

.board {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  
  &__grid {
    position: relative;
    width: 60%;
    max-width: 80vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    background-color: #44425d;
  }

  &__edge {
    position: absolute;
    top: 32.5%;
    left: -2.5%;

    width: 105%;
    height: 1.7%;

    background-color: #a855c0;
    border-radius: 10px;
  
    &--2 {
      top: 66%;
    }
  
    &--3 {
      top: 49.25%;
      left: -19%;

      transform: rotate(90deg);
    }
  
    &--4 {
      top: 49.25%;
      left: 14%;

      transform: rotate(90deg);
    }
  }

  &__title {
    display: inline-block;

    margin: 0;
    padding: 0;

    font-size: 18px;

    @include onTablet() {
      font-size: 24px;
    }

    @include onDesktop() {
      font-size: 42px;
    }

    @include onDesktopHigh() {
      font-size: 52px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}