.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: none;

  background: rgba(0, 0, 0, 0.6);
  
  &__content {
    width: 60%;
    height: auto;

    background: white;
  }

  &--show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
